[submodule "config/libskk/rules/SKK_Keymap_L2X"]
	path = config/libskk/rules/SKK_Keymap_L2X
	url = https://github.com/yasunori-kirin0418/SKK_Keymap_L2X.git
[submodule ".vsnip/friendly-snippets"]
	path = home/.vsnip/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "home/nord-dircolors"]
	path = home/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
