[user]
	name = yasunori0418
	email = yasunori.kirin0418@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	editor = nvim
	filemode = false
[pull]
	ff = only
[init]
	defaultbranch = main
[push]
	default = current
	autoSetupRemote = true
[alias]
	lol = log --graph --all --abbrev-commit --pretty=format:'%C(bold yellow)%h%Creset -> %s%C(auto)%d%Creset %C(dim green)(%cr)%Creset%C(dim blue)<%an>%Creset'
	root = rev-parse --show-superproject-working-tree --show-toplevel
[merge]
	ff = false
	conflictstyle = diff3
[commit]
	verbose = true
	gpgsign = false
[mergetool]
	prompt = false
[diff]
	algorithm = histogram
[ghq]
	root = ~/src
	user = yasunori0418

# https://stackoverflow.com/a/71971739
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git@github.com:

[url "https://aur.archlinux.org/"]
	insteadOf = git@aur.archlinux.org:
[url "git@aur.archlinux.org:"]
	pushInsteadOf = https://aur.archlinux.org/
	pushInsteadOf = git@aur.archlinux.org:
