#!/usr/bin/env bash

# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

# Qt on Gtk+ 2 theme setting.
export QT_QPA_PLATFORMTHEME='gtk2'

# https://superuser.com/questions/759759/writing-a-service-that-depends-on-xorg
systemctl --user import-environment \
    PATH \
    XDG_SESSION_ID \
    XDG_CURRENT_DESKTOP \
    QT_QPA_PLATFORMTHEME \
    WAYLAND_DISPLAY \
    DISPLAY

