# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

# Qt on Gtk+ 2 theme setting.
export QT_QPA_PLATFORMTHEME='gtk2'

# Clipmenu
export CM_LAUNCHER=rofi

if [[ `uname -n` = 'yasunori-laptop' ]];then
  ~/bin/multi_monitor_for_laptop.sh
fi

# https://superuser.com/questions/759759/writing-a-service-that-depends-on-xorg
systemctl --user import-environment \
  PATH \
  XDG_SESSION_ID \
  QT_QPA_PLATFORMTHEME
# vim:ft=sh
