# LSP plugins
# Core plugins {{{
[[plugins]] # nvim-lspconfig
repo = 'github.com/neovim/nvim-lspconfig'
lua_source = '''
--[[$BASE_DIR/lua/user/lsp/init.lua]]
require("user.lsp") 
'''
depends = ['nvim-lspconfig', 'ddc-source-lsp', 'nvim-navic']
on_source = 'ddc.vim'
on_ft = [
  'lua',
  'pyhton',
  'php',
  'markdown',
  'typescript',
  'nix',
  'bash',
  'sh',
  'zsh',
]

[[plugins]] # mason.nvim
repo = 'github.com/williamboman/mason.nvim'
on_cmd = 'Mason'
hook_post_update = 'MasonUpdate'
hooks_file = '$HOOKS_DIR/mason.lua'

[[plugins]] # mason-lspconfig.nvim
repo = 'github.com/williamboman/mason-lspconfig.nvim'
on_source = 'mason.nvim'

# }}}

# Support plugins {{{
[[plugins]] # denops-popup-preview.vim
repo = 'github.com/matsui54/denops-popup-preview.vim'
on_source = 'ddc.vim'
lua_source = '''
vim.fn['popup_preview#enable']()
'''

[[plugins]] # denops-signature_help
repo = 'github.com/matsui54/denops-signature_help'
on_event = 'LspAttach'
lua_source = '''
vim.fn['signature_help#enable']()
'''

[[plugins]] # fidget.nvim
repo = 'github.com/j-hui/fidget.nvim'
on_lua = 'fidget'
on_event = ['LspAttach', 'BufRead']
on_cmd = 'Fidget'
hooks_file = '$HOOKS_DIR/fidget.lua'

[[plugins]]
repo = 'github.com/creativenull/efmls-configs-nvim'
on_source = 'nvim-lspconfig'

[[plugins]]
repo = 'github.com/SmiteshP/nvim-navic'
hooks_file = "$HOOKS_DIR/navic.lua"
# }}}
