[Unit]
Description=Minimalistic polkit authentication agent.
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/polkit-dumb-agent

[Install]
WantedBy=xsession.target
