// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// - detach (default)
// - quit
on_force_close "detach"

// Send a request for a simplified ui (without arrow fonts) to plugins
// - true
// - false (default)
simplified_ui false

// Choose the path to the default shell that zellij will use for opening new panes
//default_shell "$SHELL"

// Toggle between having pane frames around the panes
// - true (default)
// - false
pane_frames false

// Choose the Zellij color theme.
// This theme must be specified in the themes section or loaded from the themes folder.
// refer: https://zellij.dev/documentation/themes
theme "nord"

// The name of the layout to load on startup (must be in the layouts folder).
// refer: https://zellij.dev/documentation/layouts
// - default
// - compact
default_layout "default"

// Choose the mode that zellij uses when starting up.
default_mode "normal"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could potentially interfere with copying text.
// - true (default)
// - false
mouse_mode true

// Provide a command to execute when copying text.
// The text will be piped to the stdin of the program to perform the copy.
// This can be used with terminal emulators which do not support the OSC 52 ANSI control sequence that will be used by default if this option is not set.
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// - system (default)
// - primary
// copy_clipboard "system"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// - true (default)
// - false
copy_on_select true

// Path to the default editor to use to edit pane scrollbuffer as well as the CLI and layout edit commands
// Default: $EDITOR or $VISUAL
//scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true) or should each user have their own cursor (false)
// Default: false
mirror_session false

// The folder in which Zellij will look for layouts
// layout_dir "./layouts"

// The folder in which Zellij will look for themes
// theme_dir "./themes"

// A key -> value map of environment variables that will be set for each terminal pane Zellij starts.
// env {}

ui {
    pane_frames {
        // Set whether the pane frames (if visible) should have rounded corners.
        // This config variable is set differently than others:
        rounded_corners false

        // Hides the session name (randomly generated or otherwise) from the UI
        hide_session_name true
    }
}

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible Options:
// - true (default )
// - false
auto_layout true

// Toggle between supporting the extended "styled_underlines" ANSI protocol and ignoring it (can sometimes cause some issues in unsupported terminals).
// - true (default)
// - false
styled_underlines true

// If enabled, sessions will be serialized to the cache folder (and thus become resurrectable between reboots or on exit).
// Read more about session resurrection.
// refer: https://zellij.dev/documentation/session-resurrection
// - true (default)
// - false
session_serialization true

// If enabled along with session_serialization,
// the pane viewport (the visible part of the terminal excluding the scrollback) will be serialized and resurrectable as well.
// refer: https://zellij.dev/documentation/session-resurrection
// - true
// - false (default)
pane_viewport_serialization true

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// Note: this might incur higher resource utilization (and certainly a higher cache folder usage...)
// 0: serialize all scrollback
// int: serialize this much lines for each pane (max is the scrollback limit)
scrollback_lines_to_serialize 10000

// Enable or disable writing of session metadata to disk
// Note: If disabled,
//       other sessions might not know metadata info on this session,
//       so features such as the session-manager and session listing might not work properly.
// - true
// - false (default)
disable_session_metadata false

keybinds clear-defaults=true {
    normal {
        bind "Delete" { SwitchToMode "locked"; }
    }
    shared_except "normal" {
        bind "Insert" { SwitchToMode "normal"; }
    }
    shared_except "locked" "normal" {
        bind "Delete" { SwitchToMode "locked"; }
        bind "Insert" { SwitchToMode "normal"; }
    }
    locked {
        bind "r" { SwitchToMode "resize"; }
        bind "p" { SwitchToMode "pane"; }
        bind "m" { SwitchToMode "move"; }
        bind "t" { SwitchToMode "tab"; }
        bind "l" { SwitchToMode "scroll"; }
        bind "/" { SwitchToMode "search"; }
        bind "s" { SwitchToMode "session"; }
        bind "Ctrl t" { SwitchToMode "tmux"; }
    }
    resize {
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    pane {
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    move {
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }
    tab {
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "b" { BreakPane; SwitchToMode "Normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "Normal"; }
        bind "[" { BreakPaneLeft; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "g" "Ctrl c" { ScrollToBottom; SwitchToMode  "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    search {
        bind "g" "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    session {
        bind "l" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
    tmux {
        bind "[" { SwitchToMode "Scroll"; }
        bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}
