vim
neovim-nightly
nvui
nvim-gtk
neovide
bat
exa
ripgrep
pyright
python-send2trash
python-pynvim
pyenv
ctags
trash-cli
kitty
deno
light
skk-tools
libskk
skk-jisyo
ttf-cica
ttf-hackgen-nerd
Xfce4-power-manager
xfce4-appfinder
