[Unit]
Description=easyeffects daemon service.

[Service]
Type=simpe
ExecStart=/usr/bin/easyeffects --gapplication-service
Restart=always

[Install]
WantedBy=default.target
