[Unit]
Description=useless mouse point controller.

[Service]
Type=simple
ExecStart=/usr/bin/keynav
Restart=always

[Install]
WantedBy=default.target
